.sidebar {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px;
    margin-left: -600px; */
}

.sidebar-link {
    padding: 12px;
    margin: 8px;
}

.sidebar-link:hover {
    background-color: #d7d1d1;
    border-radius: 60px;
}
